modules = ["nodejs-20"]
run = "npm run dev"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002

[[ports]]
localPort = 3010
